.body_lightMode {
    background-color:rgb(222, 222, 222);
    padding:30px;
 }

 .body_darkMode {
   background-color:rgb(37, 34, 34);
   padding:30px;
}

.downloadBody{
    padding-top: 2.5em;
}

.image-center{
    padding:30px;
    size: 1em;
}

.appDescription{
    max-width:300px;
    height:200px;
    margin: 0 auto;
    text-align:center;
}

.githubClone{
    padding-top: 2.5em;
    text-align: center;
}

.main{
    padding-top: 7.5em;
    align-items: center;
}

.bg-dark-divided{
    background-color:rgb(44, 40, 40);
    border-radius: 0.5em;
}

 #titleHolder{
    max-width:300px;
    height:200px;
    margin: 0 auto;
    text-align:center;
 }

 .alingCenter{
   margin: 0 auto;
   text-align:center;
 }

 #richPresenceHolder{
    align-items: center;
 }

 .form-signin {
    max-width: 330px;
    padding: 15px;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }

  .form-signin input{
    margin-bottom: 0px;
  }
  

 .paddingTop{
    padding-top: .5em;
 }

 




 /* From uiverse.io by @satyamchaudharydev */
/* The switch - the box around the slider */
.switch {
   --width-of-switch: 3.5em;
   --height-of-switch: 2em;
   /* size of sliding icon -- sun and moon */
   --size-of-icon: 1.4em;
   /* it is like a inline-padding of switch */
   --slider-offset: 0.3em;
   position: relative;
   width: var(--width-of-switch);
   height: var(--height-of-switch);
 }
 
 /* Hide default HTML checkbox */
 .switch input {
   opacity: 0;
   width: 0;
   height: 0;
 }
 
 /* The slider */
 .slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #f4f4f5;
   transition: .4s;
   border-radius: 30px;
 }
 
 .slider:before {
   position: absolute;
   content: "";
   height: var(--size-of-icon,1.4em);
   width: var(--size-of-icon,1.4em);
   border-radius: 20px;
   left: var(--slider-offset,0.3em);
   top: 50%;
   transform: translateY(-50%);
   background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
   ;
  transition: .4s;
 }
 
 input:checked + .slider {
   background-color: #303136;
 }
 
 input:checked + .slider:before {
   left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
   background: #303136;
   /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
   box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
 }









 ::-webkit-scrollbar{
   width: 1em;
 }

 ::-webkit-scrollbar-track{
   background: rgb(33,37,41);
 }

 ::-webkit-scrollbar-thumb{
   background: #106cfc;
   border-radius: 0.25em;
 }

 ::-webkit-scrollbar-thumb:hover{
   background: #0e63ec;
 }




 .modal-body{
  display: flex;
 }

 .modal-text-center{
  position: fixed;
  padding-left: 5em;
  padding-top: 1.25em;
  font-size: 1.5em;
 }

 .display_flex{
  display: flex;
 }

 .divisor-line{
  border-color: rgb(255, 255, 255);
  border-width: 2.5px;
  border-radius: 2.5em;
  border-style: solid;
 }